@model ContactModel
@{
    ViewData["Title"] = "Success";
}

<h1>Success</h1>

<div>
    <h3>Thank you @Model.FirstName @Model.LastName !</h3>
    <hr/>
    <p>A copy was send to your email @Model.Email.</p>
</div>